@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  box-sizing: border-box;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.paragraph {
  @apply mb-5;
}

.paragraph .row:nth-child(even){
  @apply pl-4;
}
.row {
  @apply h-11 flex;
}
.column {
  @apply flex flex-col justify-end;
}

.chord {
  @apply absolute mb-5;
}
.column:has(.chord) .lyrics:not(:empty) {
  @apply mr-1;
}

.chords-list {
  @apply h-full flex flex-wrap;
}
.chords-list .chord-chart {
  @apply w-[35%];
  stroke-width: 1px;
  fill: var(--backgroundSecondary);
  stroke: var(--content2);
}